<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">

    <router-outlet></router-outlet>

</div>
<!--<button class="btn btn-primary">CLICK</button>


<button (click)="greetPerson()">CLICK</button>

<label for="status">Active</label>
<input type="radio" id="status" [checked]="status">
<h1>
    Welcome to {{ title }}!
</h1>

<br>

<hr>

<br>

{{ city ? city : 'No City'}}-->