<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Enter Username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Enter Password">
    </div>
</form>

<button type="submit" class="btn btn-primary">Submit</button>

<!--<button class="btn btn-primary">CLICK</button>


<button (click)="greetPerson()">CLICK</button>

<label for="status">Active</label>
<input type="radio" id="status" [checked]="status">
<h1>
    Welcome to {{ title }}!
</h1>

<br>

<hr>

<br>

{{ city ? city : 'No City'}}-->